NODE_ENV=development
# JWT
JWT_SECRET=123
JWT_EXPIRE_IN=1d
STREAM_ENDPOINT=http://192.168.100.53:3080/api/streams/fmp4
STREAM_ENDPOINT_V2=http://192.168.100.53:3080/api/v2/streams/fmp4
#DATABASE_URL="mongodb://localhost:27017/hsl_stream"mongodb://localhost:27017/
DATABASE_URL="mongodb://localhost:27017/hsl_stream"

CORS_ORIGIN=http://localhost:3000,http://192.168.1.37:3000,http://139.99.1.1:3000

MODEL_TRAIN_API=http://192.168.100.53:3085/api/faiss_model/train
MODEL_SEARCH_API=http://192.168.100.53:3085/api/faiss_model/search

# Redis
#REDIS_HOST=localhost
#REDIS_PORT=6379
#REDIS_PASSWORD=123
REDIS_HOST=holy-sculpin-138329.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=gQAAAAAAAhxZAAIgcDFjMDAyOTcwNzcyMmQ0ODk1YTRiN2NmZjhmY2JhZTkyNg
#REDIS_TOKEN=gQAAAAAAAhxZAAIgcDFjMDAyOTcwNzcyMmQ0ODk1YTRiN2NmZjhmY2JhZTkyNg

# MQ
RABBITMQ_HOST=capybara.lmq.cloudamqp.com
RABBITMQ_USERNAME=fkcdrmxk
RABBITMQ_PORT=5672
RABBITMQ_PASSWORD=i9SUAPXAG0jih1YT2SdvywsjRPHETkNJ

# R2 Storage
CLOUDFLARE_ACCOUNT_ID=1cade9413aad33353af7d4402075c34e
R2_ACCESS_KEY_ID=92c41b7962be1487a22cffe37adf6bc9
R2_SECRET_ACCESS_KEY=af5fe18d0026164027030e7a35f4c01f410ecd38bb88e779908ba63fe4b98e8c
R2_BUCKET_NAME=ffmpeg-storage

