NODE_ENV=development
# JWT
JWT_SECRET=123
JWT_EXPIRE_IN=1d
STREAM_ENDPOINT=http://192.168.100.53:3080/api/streams/fmp4
#DATABASE_URL="mongodb://localhost:27017/hsl_stream"mongodb://localhost:27017/
DATABASE_URL="mongodb://localhost:27017/hsl_stream"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123

# MQ
RABBITMQ_URL=amqp://localhost
